run = "python -c \"import http.server, socketserver; socketserver.TCPServer(('',8080), http.server.SimpleHTTPRequestHandler).serve_forever()\" & pip install -U pip && pip install -r requirements.txt && python -u music_bot.py"

